{% extends 'products/base.html' %}
{% load static %}

{% block Product %}
    <section class="bg0 p-t-52 p-b-20">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-9 p-b-80">
                    <div class="p-r-45 p-r-0-lg">
                        <!--  -->
                        <div class="wrap-pic-w how-pos5-parent">
                            <img src="{{ blog.image.url }}" alt="IMG-BLOG">
                            <div class="flex-col-c-m size-123 bg9 how-pos5">
                           <span class="ltext-107 cl2 txt-center">
                           {{ blog.date.day }}
                           </span>
                                <span class="stext-109 cl3 txt-center">
                           {{ blog.date.month }} {{ blog.date.year }}
                           </span>
                            </div>
                        </div>
                        <div class="p-t-32">
                        <span class="flex-w flex-m stext-111 cl2 p-b-19">
                        <span>
                        <span class="cl4">By</span> Admin
                        <span class="cl12 m-l-4 m-r-6">|</span>
                        </span>
                        <span>
                        {{ blog.date }}
                        <span class="cl12 m-l-4 m-r-6">|</span>
                        </span>
                        <span>
                        {{ blog.category }}
                        <span class="cl12 m-l-4 m-r-6">|</span>
                        </span>
                        </span>
                            <h4 class="ltext-109 cl2 p-b-28">
                                {{ blog.name }}
                            </h4>
                            <p class="stext-117 cl6 p-b-26">
                                {{ blog.description }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 p-b-80">
                    <!-- Search -->
                    <div class="side-menu">
                        <form class="bor17 of-hidden pos-relative" action="{% url 'search_blogs' %}" method="get">
                            <input class="stext-103 cl2 plh4 size-116 p-l-28 p-r-55" type="text" name="q"
                                   placeholder="Search">
                            <button class="flex-c-m size-122 ab-t-r fs-18 cl4 hov-cl1 trans-04">
                                <i class="zmdi zmdi-search"></i>
                            </button>
                        </form>
                        <div class="p-t-55">
                            <h4 class="mtext-112 cl2 p-b-33">
                                Categories
                            </h4>
                            <ul>
                                {% for category in categories_blog %}
                                    <li class="bor18">
                                        <a href="{% url 'category_blog' category.id %}" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
                                            {{ category.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


